body {
	width: 880px; 
	margin: 0 auto; 		
	/*margin-left: 12%;
	margin-right: 12%;
	margin-top: 1%;
	margin-bottom: 1%;
*/
}

.feet {       /* 底部文字*/
	color: #FFFFFF;
    text-align: left;
	font-family: Georgia;
}
.PeopleName {  /* 人名 */
	color: #000000;
	font-size: 24px;
    font-family: "微软雅黑";
}
.author1 {
	font-size: 20px; 
	color: #333333; 
	text-align: center;	
}
.Title1 {   /* 大标题*/
	color: #000000;
	font-size: 22px;
    font-family: "微软雅黑";
}
.Title2 {   /* 中标题*/
	color: #000000;
	font-size: 20px;
	text-align: left;
    font-family: "微软雅黑";
}
.Hightlight1 {  /* 主页highlight*/
	color: #B1040E;
	font-size: 19px;
	text-align: justify;
    font-family: "微软雅黑";
}
/*.MemberTable {
	padding: 10 px 5px 15px 5px;
}*/
a:link {   /* 链接样式*/
	color: #000000;
	text-decoration: none;
	font-family: "微软雅黑";
}
a:visited {
	color: #000000;
	text-decoration: none;
	font-family: "微软雅黑";
}
a:hover {
	color: #B1040E;
	text-decoration: none;
}
.Title3 {   /* 小标题*/
	color: #000000;
	text-align: left;
	font-family: "normal";
}

.Context1 {  /* 正文1*/
	color: #000000;
	font-size: 20px;
	text-align: justify;
	font-family: "微软雅黑";
}
.Mail1 {  /* 邮箱*/
	color: #0B61E5;
	font-size: 18px;
	font-family: "微软雅黑";
}


/*

a:active {
	text-decoration: none;
	font-size: 24px;
}
.bio {
	font-size: 19px;
	text-align: left;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}*/


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
	float: left;
	font-family: "微软雅黑";
}
ul img {
	width: 500px;
	height: auto;
}
.container {
	width: 500px;
	height: auto;
	margin: 5px 0px 0px 0px;
	overflow: hidden;
	position: relative;
	border: 1px solid black;
}
ol {
	position: absolute;
	bottom: 0;
	left: 40%;
	padding: 10px;
	margin-left: 0px;
	z-index: 999;
}
ol li {
	width: 18px;
	height: 18px;
	background-color: #fff;
	border: 1px solid red;
	border-radius: 50%;
	margin: 0 10px;
}
.container ul {
	animation: Scanner 6s cubic-bezier(0, 1, 0, 1) 2s infinite;
	width: 400%;
}
 @keyframes Scanner {
 0% {
 transform: translateX(0px);
}
 33% {
 transform: translateX(-500px);
}
 66% {
 transform: translateX(-1000px);
}
 100% {
 transform: translateX(0px);
}
}
ol li {
	animation: focus 6s linear infinite;
}
ol li:nth-child(1) {
	animation-delay: 0s;
}
ol li:nth-child(2) {
	animation-delay: 2s;
}
ol li:nth-child(3) {
	animation-delay: 4s;
}
 @keyframes focus {
 0% {
 background-color: #000;
}
 20% {
 background-color: #000;
}
 30% {
 background-color: #fff;
}
}
/*header {
  width: auto;
  height: auto;
}*/
/*body table {
	color: #000;
	text-align: center;
	font-family: Georgia;
	font-size: 24px;
}
body table tr td {
	color: #333333;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
Div
{
	box-shadow: 0px 0px 0px red;
}*/
/*.Header {
	width: 400px;
    height:auto;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 30px;
}*/
