body {
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 1%;
	margin-bottom: 1%;
}
*{padding: 0;margin: 0;box-sizing: border-box;}
	li{
		list-style: none;
		float: left;
	}
	ul img{
		width: 500px;
		height: auto;
	}
		
	.container{
		width: 500px;
		height: auto;
		margin: 5px 0px 0px 0px;
		overflow: hidden;
		position: relative;
		border: 1px solid black;
	}
	ol{
		position: absolute;
		bottom: 0;
		left: 40%;
		padding: 10px;
		margin-left: 0px;
		z-index: 999;
	}
	ol li{
		width: 18px;
		height: 18px;
		background-color: #fff;
		border: 1px solid red;
		border-radius: 50%;
		margin: 0 10px;
	}
		
	.container ul{
		animation:Scanner 6s cubic-bezier(0, 1, 0, 1) 2s infinite;
		width: 400%;
	}
		
	@keyframes Scanner{
		0% {
		transform: translateX(0px);
		}
		33% {
		transform: translateX(-500px);
		}
		66% {
		transform: translateX(-1000px);
		}
		100% {
		transform: translateX(0px);
		}
	}
	ol li{
		animation:focus 6s linear infinite ;
		}
		ol li:nth-child(1) {
		animation-delay: 0s;
		}
		ol li:nth-child(2) {
		animation-delay: 2s;
		}
		ol li:nth-child(3) {
		animation-delay: 4s;
	}
	@keyframes focus{
		0% {
		background-color: #000;
		}
		20% {
		background-color: #000;
		}
		30% {
		background-color: #fff;
		}
	}
